.img-fluid {
  max-width: 85%; /* or to whatever you want here */
  max-height: 85%; /* or to whatever you want here */
  border-radius: 30%;
}

.heading-style{
    margin-top: 15px;
}

.container-style-bottom{
  margin-bottom: 100px;
}

.linked{
  text-decoration: underline;
}

.img-center {
  text-align: center;
}