<div class = "container">
    <div class = "container container-style-bottom">
        <div class = "row title">
            <h3 class = "heading-2-style">Galerie</h3>
        </div>
        <div class = "row">         
                <div class="col-6 col-md-4">
                    <img src="/assets/cat-2.JPG"  class="img-fluid" alt="...">
                </div>
                <div class="col-6 col-md-4">
                    <img src="/assets/flower.jpg"  class="img-fluid" alt="...">
                </div>  
                <div class="col-6 col-md-4">
                    <img src="/assets/butterfly.jpg"  class="img-fluid" alt="...">
                </div>
                <div class="col-6 col-md-4">
                    <img src="/assets/duck.JPG"  class="img-fluid" alt="...">
                </div>
                <div class="col-6 col-md-4">
                    <img src="/assets/cat-calpe.jpg"  class="img-fluid" alt="...">
                </div>  
                <div class="col-6 col-md-4">
                    <img src="/assets/rain.jpg"  class="img-fluid" alt="...">
                </div>   
                <div class="col-6 col-md-4">
                    <img src="/assets/flower-2.jpg"  class="img-fluid" alt="...">
                </div>
                <div class="col-6 col-md-4">
                    <img src="/assets/london-1.JPG"  class="img-fluid" alt="...">
                </div>  
                <div class="col-6 col-md-4">
                    <img src="/assets/london-2.JPG"  class="img-fluid" alt="...">
                </div>
                <div class="col-6 col-md-4">
                    <img src="/assets/london-4.JPG"  class="img-fluid" alt="...">
                </div>
                <div class="col-6 col-md-4">
                    <img src="/assets/cat-3.jpg"  class="img-fluid" alt="...">
                </div>  
                <div class="col-6 col-md-4">
                    <img src="/assets/thuin.JPG"  class="img-fluid" alt="...">
                </div>   
        </div>
    </div>
</div>

