
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    color: white;
    background-color: #343a40!important;
  }

  .footer-style{
    margin: 0px;
    font-size: 15px;
  }

  .nav-style{
    margin-bottom: 50px;
    padding-top: 27px;
    padding-bottom: 27px;
}

.nav-button-style{
  color: white;
  font-size: 15px;
}

.logoNav {
  height: 150px;
}

.blocktext {
  margin-left: auto;
  margin-right: auto;
}

#mode{
  text-align: end;
  margin-right: 10px;
}
  