<header>
  <nav class="navbar navbar-expand bg-dark navbar-dark flex-column flex-md-row  nav-style"> 
    <ul class="navbar-nav">   
        <li class="nav-item">
            <a [routerLink]="['/about']" class="nav-link" >À propos</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/gallery']" class = "nav-link" >Galerie</a>
        </li>
        <li *ngIf="isMobile" class="nav-item mobile">
            <app-mode> </app-mode>
        </li>    
    </ul>
    <ul *ngIf="!isMobile" class="navbar-nav ml-auto"> 
        <li class="nav-item">
            <app-mode> </app-mode>
        </li>  
    </ul>
</nav>
</header>
<main>  
    <router-outlet></router-outlet>
</main>
<footer>
<mat-toolbar class="footer">
    <div class = "container-fluid">
        <div class = "row">
            <p class = "footer-style blocktext">Vandecasteele Emma</p>
        </div> 
        <div class = "row">
            <p class = "footer-style blocktext">Copyright &copy; All right Reserved - 2021</p>
        </div>             
    </div>        
</mat-toolbar>
</footer>

